.um{
    border-width: 2px;
    border-radius: 10px;
    border-style:solid;
    border-color:  #000000;
	color: white;
	margin: 0 auto;
	width: 40vw;
	padding:20px; 
	background-color: #00802b;
}
body{
	background-color:#404040;
}
.form-group{
		display: inline-block;
}